   
    
/*********************************
5.1 Home Slider
*********************************/

    
    @media(max-width: 990px )
    {.similar_post{
        display: none;
        }}
    
.home_slider_container
{
	width: 100%;
	height: 100%;
}
.home_slider
{
	
}
.home_slider_background
{
	position: absolute;
	top: 08
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    opacity: 1;
}
    .home_slider_background:before {
    content: " ";
    position: absolute;
    background: #0000003d;
    height: 100%;
    width: 100%;
}
.home_slider_content_container
{
	position: absolute;
	top: 70%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}
.home_slider_content
{
	max-width: 760px;
}
.home_slider_item_category
{
	width: 83px;
	height: 28px;
	background: #899091;
	border-radius: 14px;
	text-align: center;
}
.home_slider_item_category a
{
	display: block;
	line-height: 28px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
.home_slider_item_category:hover
{
	background: #FFFFFF;
}
.home_slider_item_category:hover a
{
	color: rgba(0,0,0,0.8);
}
.home_slider_item_title
{
	margin-top: 19px;
}
.home_slider_item_title a
{
	font-family: 'Work Sans', sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.27;
}
.home_slider_item_link
{
	margin-top: 21px;
}
.home_slider_item_link a
{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: rgba(255,255,255,0.5);
	font-weight: 500;
}
.home_slider_item_link a:hover
{
	color: rgba(255,255,255,1);
}
.home_slider_item_link a svg
{
	display: inline-block;
	vertical-align: middle;
	margin-left: 16px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.home_slider_item_link a svg polygon
{
	fill: rgba(255,255,255,0.5);
}
.home_slider_item_link a:hover svg polygon
{
	fill: rgba(255,255,255,1);
}
.similar_posts_container
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.similar_post
{
	width: 100%;
	height: 70px;
	background: #dedede;
	border-radius: 6px;
	padding-left: 26px;
	padding-right: 26px;
	margin-bottom: 30px;
}
.similar_post:hover
{
	background: #FFFFFF;
}
.similar_post a
{
	display: block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 14px;
	color: #000000;
	line-height: 1.28;
	font-weight: 500;
}
.home_slider_next_container
{
	position: absolute;
	bottom: 0;
	left: calc(((100vw - 1170px) / 2) + (1170px * 0.75) + 8px);
}
.home_slider_next
{
	width: 375px;
	height: 240px;
	cursor: pointer;
    background-size: cover;
    background-position: center;
}
.home_slider_next_background
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
}
.home_slider_next:hover .home_slider_next_background
{
	background: rgba(0,0,0,0.5);
}
.home_slider_next_content
{
	width: 100%;
	height: 100%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 40px;
	visibility: hidden;
	opacity: 0;
}
.home_slider_next_title
{
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 0.75;
}
.home_slider_next_link
{
	font-size: 20px;
	font-weight: 500;
	color: #FFFFFF;
	margin-top: 25px;
}
.home_slider_next:hover .home_slider_next_content
{
	visibility: visible;
	opacity: 1;
}
.custom_nav_container
{
	z-index: 10;
}
.home_slider_nav_container
{
	position: absolute;
	bottom: 264px;
	left: calc(((100vw - 1170px) / 2) + (1170px * 0.75) + 8px);
}
.custom_dots
{
	display: inline-block;
	height: 12px;
	margin-left: 7px;
	margin-right: 7px;
}
.custom_dot
{
	display: inline-block;
	padding: 2px;
	cursor: pointer;
}
.custom_dot span
{
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgba(255,255,255,0.35);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.custom_dot.active span
{
	background: rgba(255,255,255,1);
}
.custom_dot:hover span
{
	background: rgba(255,255,255,1);
}
.custom_prev,
.custom_next
{
	cursor: pointer;
}
.custom_prev, .custom_next
{
	display: inline-block;
	vertical-align: middle;
}
.custom_prev svg polyline,
.custom_next svg polyline
{
	fill: rgba(255,255,255,0.35);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.custom_prev:hover svg polyline,
.custom_next:hover svg polyline
{
	fill: rgba(255,255,255,1);
}

    
    
    
    
    .super_container
{
	width: 100%;
	overflow: hidden;
}
    
    
    
.home
{
	width: 100%;
	height: 100vh;
    background: #000;
}



.srch .input-group{
                  margin: 35% auto;
    position: absolute;
    z-index: 999;
    height: -webkit-fill-available;
                 
                 }
                 .srch{
                     margin: auto;
                 }

       .search-top{     position: relative;margin-right: 30px;}
    .search-top .btn {
    background: none;
    color: #FFF;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 21px;
    background: #FF5722;
    border-radius: 0px;
        width:80px;
    height: 100%;
    padding: 0px 20px;
    border-bottom-right-radius: 5px;
    border-left-color: #03A9F4;
            z-index: 99999;
}
 .search-top .search-input {
    background: rgba(250, 250, 250, 0.57);
    color: #FFF;
    height: 58px;
    border-width: 2px;
    padding-left: 15px;
    padding-right: 60px;
    font-size: 18px;
    border-color: transparent;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
 .search-input {
    border-radius: 0;
    box-shadow: none;
    border-color: #E7E7E7;
    height: 36px;
    font-size: 15px;
    padding-top: 6px;
    letter-spacing: 0.5px;
    o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;}
                 .search-input:hover{
                  background:  rgba(250, 250, 250, 0.9);
              }
              .search-input:focus{
                  background:  rgba(250, 250, 250, 0.9);
                  color: #000;
              }
              .search-form{width: 100%;}
                
                .r-blogs .card-img-top {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    float: none;
    display: flex;
    border-radius: 15px;
                    box-shadow: 1px 1px 5px #0006;}
              .r-blogs {border-radius: 15px;}  
              
.o-cat{ 
   
        opacity: 0;
        position: absolute;
    width: 100%;
    height: 100%;
    }
        .top-cats{overflow: hidden;  } 
        .top-cats:hover .o-cat{ opacity: 1;  background: #0003;z-index: 9999;transition: 0.4s;}
        .o-cat h4{    text-align: center;
    margin: 30% 0;text-shadow: 1px 1px 3px #000;}
        .top-cats a{color: #fff;}
        
        .top-cats img{ transition: 0.4s;}
        .top-cats:hover img{
            z-index: -99;
           
          
            transform:scale(1.3);
        }

        .o-city{  position: absolute;
    color: #fff;
    text-align: center;
    width: 90%;
    height: 100%;
        text-shadow: -1px 1px 3px #000;
        line-height: 25px;}
        .city img{object-fit: cover;}
        .o-city .o-content{margin-top: 63%;
        transition: 0.3s;}
        
        .city:hover .o-content{margin-top: 30%;}
        
        .o-content h5{    font-family: sans-serif;
        font-weight: 900}
        .explore{    background: #778b;
            display: none;
    border-radius: 14px;
            width: 35%;
            min-width: 80px;
            margin: 0 auto;
            text-shadow: none;cursor:pointer;
        }
        .explore:hover{     background: #d96e4c;
    color: #ffffff;}
        .city:hover .explore{display: block;}
/*        .city:hover .o-city{background: #0003;}*/
                      .hor img{width:100%;}
        .hor .img-square-wrapper,.hor{ padding: 0px; }
        .hor .img-square-wrapper,.hor .card-body{ float:left;}
        

                                        
h5.cat-name-slider{  color: #b9b8b8;
    margin-top: 15px;}
.post_meta {
    width: 100%;
    display: flex;
    color: #b9b8b8;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 12px;
}
img.writer-thumb{display: inline !important;
    width: 30px !important;
    height: 30px;
    overflow: hidden;
    padding: 0px;
    margin-right: 3px;
    margin-bottom: 3px;}
                                        .post_meta .date{    margin: auto 0;}


.profile-card-3 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 18px;
    overflow: hidden;
    min-height: 330px;
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card-3 .profile {
    border-radius: 50%;
    position: absolute;
    top:25%;
    left: 50%;
    max-width: 100px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    z-index: 99999;
}
.profile-card-3 .card-content {
    width: 100%;
    padding: 15px 25px;
    color: #232323;
    float: left;
    height: 50%;
    border-radius: 0 0 5px 5px;
    position: relative;
    z-index: 9999;
}
.profile-card-3 .card-content::before {
        content: '';
    background: #fff;
    width: 140%;
    height: 100%;
    left: -40px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-14deg);
}
.profile-card-3 h2 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size: 25px;
 text-align: center;
}
.profile-card-3 h2 small {
    display: block;
    font-size: 15px;
    margin-top: 10px;
}
    .profile-card-3 .background-block .background {
    width: 100%;
    vertical-align: top;
    opacity: 0.9;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    -webkit-transform: scale(1.8);
    transform: scale(2.8);
}
    .profile{
        float: left;
    }
    .check{    text-align: center;
    width: 100%;
    display: block;}



   .testimonials {
/*	background-color: #676767;*/
	 position: relative;
	 padding-top: 80px;
}
 .testimonials:after {
	 content: '';
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 width: 100%;
	 height: 30%;
	background-color: #1b1b1b;
}
 #customers-testimonials .item-details {
	 background-color: #333;
	 color: #fff;
	 padding: 20px 10px;
	 text-align: left;
}
 #customers-testimonials .item-details h5 {
	 margin: 0 0 15px;
	 font-size: 18px;
	 line-height: 18px;
}
 #customers-testimonials .item-details h5 span {
	 color: red;
	 float: right;
	 padding-right: 20px;
}
 #customers-testimonials .item-details p {
	 font-size: 14px;
}
 #customers-testimonials .item {
	 text-align: center;
	 margin-bottom: 80px;
         box-shadow: 4px 3px 5px #000000ab;
}
 .owl-carousel .owl-nav [class*='owl-'] {
	 -webkit-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}
 .owl-carousel .owl-nav [class*='owl-'].disabled:hover {
	 background-color: #d6d6d6;
}
 .owl-carousel {
	 position: relative;
}
 .owl-carousel .owl-next, .owl-carousel .owl-prev {
	 width: 50px;
	 height: 50px;
	 line-height: 50px;
	 border-radius: 50%;
	 position: absolute;
	 top: 30%;
	 font-size: 20px;
	 color: #fff;
	 border: 1px solid #ddd;
	 text-align: center;
}
 .owl-carousel .owl-prev {
	 left: -70px;
}
 .owl-carousel .owl-next {
	 right: -70px;
}
 
    .testimonials .fa {
    color: #000;
    font-size: 27px !important;}