@font-face {
    font-family: 'gilroylight';
    src: url('gilroy-light-webfont.woff2') format('woff2'),
         url('gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*p{font-family: 'gilroylight';}
.oswald{text-align: left;
letter-spacing: 0.78px;
            font-family: 'Oswald', sans-serif;
        }
        .banner{background:url(../img/woman-under-seljalandsfoss-waterfall-iceland-picjumbo-com-1.png);
        height: 100%;
        width: 100%;
        background-size: 100%;
        background-position-y:-80px;}
        h2.title{
text-align: left;
font: Bold;
font-size: 50px;                    
            color: #FFFFFF;}
            
        .banner .left p{color: #fff;}
        body,html{
    height:100%;
}
        .banner .content{
            padding-top: 10%;
        }
        
        .banner .left {margin-top: 150px;}
        .top-form {
    background: #fff;
    padding: 25px;
    margin: 23px;
    border-radius: 5px;
            box-shadow: 0px 0px 10px #00000030;}
        
        .gra-btn{    background: transparent linear-gradient(112deg, #01B148 0%, #06885C 100%) 0% 0% no-repeat padding-box;
    padding: 10px 0px;
    border-radius: 0px;}
    
.heading {    text-align: center;
margin-bottom: 40px;}
.heading h1{    font-family: oswald;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;}   
.half-opacity{color: #404040;
opacity: 50%;}
        
        
/*        footer   */
        .footer-bs {
    background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}
    
        
/*        part of us */
        
        .overlay{position: absolute;
        color: #fff;
        }
        .overlay-bottom{bottom:0px;}
        .part-text{ padding-left: 30px;     padding-bottom: 10px; z-index: 9;}
        .part-img{position: relative;
        box-shadow: 0px 3px 10px #00000069;}
        .part-img:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.85;
    background: transparent linear-gradient(180deg, #00000000 0%, #0000000E 33%, #141414 100%) 0% 0% no-repeat padding-box;
}
        .col-part{padding: 9px;
        }
         .part-img:nth-of-type(3n){ box-shadow: 0px 3px 10px #00000069;}
    
  .services-icons{  min-width: 20%;} 
  .services-icons img{     margin: 15px auto;
                            display: block;}

.grey-text{color: #707070;}
.border-button {
    border: 2px solid #01B148;
    padding: 20px 20px;
    width: fit-content;
    color: #01B148;
}





/* owl slider customers */
.shadow-effect {
		    background: #fff;
		    padding: 20px;
		    border-radius: 4px;
		    text-align: center;
	border:1px solid #ECECEC;
		    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
		}
		#customers-testimonials .shadow-effect p {
		    font-family: inherit;
		    font-size: 17px;
		    line-height: 1.5;
		    margin: 0 0 17px 0;
		    font-weight: 300;
		}
		.testimonial-name {
		    margin: -17px auto 0;
		    display: table;
		    width: auto;
		    background: #3190E7;
		    padding: 9px 35px;
		    border-radius: 12px;
		    text-align: center;
		    color: #fff;
		    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
		}
		#customers-testimonials .item {
		    text-align: center;
/*		    padding: 50px;*/
            margin-bottom:80px;
/*		    opacity: .2;*/
		    -webkit-transform: scale3d(0.8, 0.8, 1);
		    transform: scale3d(0.8, 0.8, 1);
		    -webkit-transition: all 0.3s ease-in-out;
		    -moz-transition: all 0.3s ease-in-out;
		    transition: all 0.3s ease-in-out;
		}
		#customers-testimonials .owl-item.active.center .item {
		    opacity: 1;
		    -webkit-transform: scale3d(1.0, 1.0, 1);
		    transform: scale3d(1.0, 1.0, 1);
		}
		.owl-carousel .owl-item img {
		    transform-style: preserve-3d;
		    max-width: 90px;
    		margin: 0 auto 17px;
		}
		#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
		    background: #3190E7;
		    transform: translate3d(0px, -50%, 0px) scale(0.7);
		}
#customers-testimonials.owl-carousel .owl-dots{
	display: inline-block;
	width: 100%;
	text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
	display: inline-block;
}
		#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
		    background: #3190E7;
		    display: inline-block;
		    height: 20px;
		    margin: 0 2px 5px;
		    transform: translate3d(0px, -50%, 0px) scale(0.3);
		    transform-origin: 50% 50% 0;
		    transition: all 250ms ease-out 0s;
		    width: 20px;
		}
/* owl slider customers */




   
       
        
        