*{font-family: 'Arvo', serif;}

.heading-top {
  line-height: 30px;
}

.portfolio-block.block-intro p {
  line-height: 2.5;
}

a {
 -webkit-transition: .25s all;
 transition: .25s all;
}
.travel-card{
/*        height: 100%;*/
  padding-left:auto;
  padding-right:auto;
/*  min-height:500px;*/
  margin-top:15px;
/* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
 -webkit-transition: .25s box-shadow;
 transition: .25s box-shadow;
}
.travel-card:focus, .travel-card:hover {
   transition: all 0.5s ease-in-out;
    box-shadow: 0px 18px 20px -5px rgba(0, 0, 0, 0.25); 
/* box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);*/
}
.card-inverse .card-img-overlay {
 background-color: rgba(51, 51, 51, 0.85);
 border-color: rgba(51, 51, 51, 0.85);
}
.travel-card .card-img-top{
 object-fit: cover;
    height: 350px;
}
.read-more{margin-top: auto;
padding: 10px;}
.travel-card small.more-link{color: #000;}

.col-xs-12{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
.row{
  margin-left:auto;
  margin-right:auto;
}

.lob{font-family:'Parisienne', cursive;
font-weight: bold;}

.lob2{    font-family: 'Lobster Two', cursive;
/*    text-shadow: 1px 1px 3px #000;*/
    letter-spacing: 3px;
    font-size: 25px;
/*
    color: #ffffff;
    color: #cacaca;
*/
}
  .clob{font-family:'Parisienne', cursive;
font-weight: bold;
text-align: center;
display: block;
color: #000;}
  
.card-img-box{overflow: hidden;
transition: 3s;}
.card-block {
    padding: 15px;
    position: absolute;
    bottom: 10px;
    text-shadow: 1px 1px 2px #000;
    color: #fff;
    font-size: 17px;
    z-index: 3;
}
.card-img-box:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-1deg, black, transparent,transparent);
    z-index: 2;
}


.col-xs-12.col-md-6.col-lg-2.thumb-card {
    margin-left: initial;
}
.travel-card{
    min-width: 240px;
}

@media(min-width: 768px){
    .card.hor.col-12.my-2 {
    height: 200px;
    overflow: hidden;
}
}

.muli{
    font-family: 'Muli', sans-serif;
}
.recent li a{color:#000;
text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: 600;
  font-family: 'Muli', sans-serif;}

.recent li:before{content:" ➣"}


.heading3:before {
    content: '';
    width: 50px;
    height: 3px;
    position: absolute;
    background-color: #ffb982;
    top: 33px;
    left: auto;
    margin: auto;
}
.heading2:before { 
    content: '';
    width: 50px;
    height: 3px;
    position: absolute;
    background-color: #ffb982;
    top: auto;
    left: auto;
    margin: auto;
    bottom: 0;
}
.navbar{
    width: 100%;
    padding: 7px;
    padding: 7px;
    position: absolute;
    background: #0005;
    z-index: 99999!important;
    
        
}

.website{background:url(https://mymodernmet.com/wp/wp-content/uploads/2018/03/florian-wenzel-new-zealand-travel-photography-1.jpg);
background-attachment: fixed;
background-position: center;
background-size: 100%;}


.portfolio-block.mobile-app .text, .portfolio-block.website .text {
     text-align: center; 
    background: #0009;
    color: #fff;
    padding: 15px;
    border-radius: 15px;}
    
    
    .list li {
    padding: 3px 0px;
    margin: 2px 0px;
}
.ttw{margin: 10px;}
.ttw img{   width: 50%;
    margin-left: 30%;
}

.city {
    display: flex;
    float: left;
    min-height: 350px;
/*    min-width: 170px*/   /*    old*/
    margin-bottom: 20px;
    overflow: hidden;
}